.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    width: 100%;
}

.choice{
    display: flex;
    justify-content: space-between;
}
.choice h2{
    margin-left: 1rem;
}

.dash::after{
    content: '-';
    margin-left: 1rem;
}

.states{
    display: flex;
    justify-content: space-between;
}
.states h2{
    margin-left: 1rem;
}

.win span{
    color: green;
}

.lose span{
    color: red;
}