html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body{
  font: 1rem/1.2 'Open Sans', san-serif;
}

.container {
  min-width: 1170px;
  margin: 0 auto;
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  .container {
    min-width: 800px;
  }
}